tensorflow==2.18.0
shap==0.46.0
pandas==2.1.4
matplotlib==3.10.0
scikit-learn==1.6.1
numpy==1.26.4
yfinance==0.2.52
chronos-forecasting==1.4.1
PyWavelets==1.8.0
transformers==4.40.1
keras==3.8.0
tokenizers==0.19.1
uni2ts==1.2.0
jax==0.5.0
lightning==2.5.0.post0
einops==0.7.0